@{
    ViewBag.Title = "RuleReport";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}
<div class="clearfix">
																<h4 class="block">Rule Report</h4>
																<a href="#" class="btn btn-lg default">
																Formula Create <i class="fa fa-user"></i>
																</a>
																<a href="#" class="btn btn-lg red">
																 Rules Create<i class="fa fa-edit"></i>
																</a>
																<a href="#" class="btn btn-lg blue">
																<i class="fa fa-file-o"></i> Blue </a>
																<a href="#" class="btn btn-lg green">
																Green <i class="fa fa-font"></i>
																</a>
																<a href="#" class="btn btn-lg yellow">
																Yellow <i class="fa fa-search"></i>
																</a>
																<a href="#" class="btn btn-lg purple">
																<i class="fa fa-times"></i> Purple </a>
																<a href="#" class="btn btn-lg green">
																Green <i class="fa fa-plus"></i>
																</a>
																<a href="#" class="btn btn-lg grey-cascade">
																Dark <i class="fa fa-link"></i>
																</a>
															</div>